{% extends 'baseOther.html.twig' %}
{% block  body %}
    <div class="col-md-6 m-auto">
        <h1>Contact</h1>
        <form class="col-md-12" action="">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Votre nom complet">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Votre adresse email">
            </div>
            <div class="form-group">
                <textarea name="message"  cols="67" rows="10"></textarea>
            </div>
            <button class="btn btn-success">
                envoyez
            </button>
        </form>
    </div>
{% endblock %}